body {
    height: auto;
    background: #222222;
    color: #efefef;
    font-family: sans-serif;
}

canvas {
    image-rendering: pixelated;
    background: #FFF;
}

#container {
    height: 700px;
    width: 100%;
}

.zoom {
    transform: scale(7);
    transform-origin: left top;
}

#colors {
    margin: 30px 0;
}

.colorButton {
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px;
    color: #FFF;
    font-weight: bold;
}
