<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>Hallo world </h1>
	<div class='intro'>
    <!--<img src="../img/r-place.jpg" alt="r-place">-->
	 <p>

	 </p>
	 </div>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>
</html>