<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="homepage">
<div class="transbox">
    <div>
        <a id="myBtn">
        <img src="../img/info.png" class="infobutton">
        </a>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Hier een stukje informatie over Wijkpark het Oude westen. Het park is in 1987 geopend samen met een
                prachtige moestuin en ‘dierenhof’ die nu nogsteeds door de bewoners worden onderhouden en beheerd. Door
                de jaren is er veel aan verandert en dit gebeurt nogsteeds.
                Het park bestaat uit een voorplein met bankjes, een groot sportveld/ ligweide en een romantisch deel met
                bomen en struikengroepen. Het park is omsloten door een hek, dat sluit met zonsondergang. Het hele park
                is verboden voor honden. De bewonersbetrokkenheid vind je ook terug in de voorzieningen in het park. Er
                is een dierenhofje met geiten, schapen, kippen, konijn en cavia’s; een jeu-de-boulesbaan.</p>
        </div>

    </div>
    <h1> PixelPlacer </h1>
    <div class="mainBox">
        <p>
            Op deze app is het mogelijk om me eigen artistieke kunstzinnigheid te uiten op een Gigantisch scherm tekenen. Wie wil dat nou niet!!!!
        </p>
        <img id="lolMeme" src="" alt="">
    </div>
    <div id="flexcontainer">
    <a href="pixel" class="homebutton" >
        login as guest
    </a>
    <a href="#" class="homebutton" >
        Login
    </a>

    </div>
</div>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/infoPopup.js"></script>
<script >
    const GIPHY_API = 'd7wj94m6tsUKl4TDzcOmLwiqxiMqogqg'
    let url = "https://api.giphy.com/v1/gifs/random?tag=meme&api_key="+GIPHY_API;
    fetch(url)
            .then(response => response.json())
            .then(data => successHandler(data))
            .catch(error => errorHandler(error))

    function successHandler(data) {
        console.log(data);
        placeMeme(data)
    }

    function errorHandler(error) {
        console.log('dit gaat mis ', error);
    }

    function placeMeme(data) {
        let img = document.getElementById('lolMeme')
        img.src = data.data.image_url
    }
</script>
</html>