<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>{{message}}</h1>
    <div id="errorContainer">
        <p id="errorMessage">We're having some trouble connecting to the realtime server, hang on..</p>
        <p id="errorMessageHelper">If this problem is not resolved in a few seconds, try reloading this page.</p>
    </div>

	<div id='container'>
      <canvas id="myCanvas" class="zoom" width="100" height="100"></canvas>
    </div>
    <div id="colors"></div>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>
</html>