<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
</head>

<body>
  {{#if errors}}
        {{#each errors}}
            <div class="error">
                {{msg}}
            </div>
        {{/each}}
    {{/if}}
  <form method="POST" action="/users/register">
    <div>
      <ul>
        <li>
          <label for="name">Name:</label>
          <input type="text" name="name">
        </li>
        <li>
          <label for="email">Email:</label>
          <input type="text" name="email">
        </li>
        <li>
          <label for="username">Username:</label>
          <input type="text" name="username">
        </li>
        <li>
          <label for="password">Password:</label>
          <input type="password" name="password">
        </li>
        <label for="password2">Confirm Password:</label>
        <input type="password" name="password2">
        </li>
        <li>
          <input type="submit" value="Submit">
        </li>
      </ul>
    </div>
  </form>

</body>

</html>
